.image {
  border-radius: 50%;
  width: 60%;
  height: 60%;
}
.body {
  background-color: darkgrey;
}

.lside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 91px;
  background-color: black;
}
.chartbar {
  margin: 51px 27px;
  height: 100vh;
}
.chartpie {
  margin: -43px 11rem;
  height: 105vh;
}
.grey {
  background-color: black;
}
.text {
  text-decoration: none;
}
.gap {
  padding: 75px 0px;
}
.mleft {
  margin-left: -20px;
}
